@import url("prettyprint.less");

body {
	cursor: default;
}

main {
	padding-left: 240px;	
}

@media only screen and (max-width: 992px) {
	main {
		padding-left: 0;
	}
}

#sidebar {
	li:hover {
		background-color: transparent;
	}
	
	.collection {
		border: none;	
	}
}

#code {
	margin-left: 20px;
	margin-right: 20px;
}